[submodule "janus/dwm"]
	path = janus/dwm
	url = git://github.com/spolu/dwm.vim.git
  ignore = untracked
[submodule "janus/vimux"]
	path = janus/vimux
	url = https://github.com/benmills/vimux.git
  ignore = untracked
[submodule "janus/vimux-ruby-test"]
	path = janus/vimux-ruby-test
	url = https://github.com/pgr0ss/vimux-ruby-test.git
  ignore = untracked
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = git@github.com:nwertman/oh-my-zsh.git
