[submodule "janus/dwm"]
	path = janus/dwm
  url = https://github.com/spolu/dwm.vim.git
  ignore = untracked
[submodule "janus/tslime"]
	path = janus/tslime
	url = https://github.com/jgdavey/tslime.vim.git
  ignore = untracked
